@charset "UTF-8";

body{
    background-color: dodgerblue;
}

header{
    text-align: center;
    color: white;
}

main{
    width: 50vw;
    height: 50vh;
    background-color: white;
    margin: auto;
    padding: 10px;
}

#foto {
    margin: auto;
    border-radius: 50%;
    width: 30vw;
    height: 30vh;
}